:root {
    --bg: #444654;
    --bg-user: #343541;
    --bg-input: #353740;
    --bg-input-text: #40414f;
    --bg-side: #202123;
    --bg-side-selected: #2b2c2f;
    --bg-code-block-header: #343541;
    --color-fg: #fff;
    --color-input: #fff;
    --color-gpt: #fff;
    --color-user: #fff;
    --color-code: #ccc;
    --color-disclaimer: #d9d9e3;
    --color-empty-chat: #565869;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: minmax(250px, 1fr) 5fr;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: var(--bg-side);
}

.mode-selector {
    grid-row: span 2;
    background: var(--bg-side);
    display: grid;
    grid-template-rows: auto 1fr;
}

.mode-selector h1 {
    color: var(--color-fg);
    display: block;
    text-align: center;
}

.mode-selector .modes {
    overflow-y: auto;
}

.mode-selector .mode span {
    display: block;
    width: 80%;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    padding: 10px 16px;
    color: var(--color-fg);
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mode-selector .mode input[type="radio"] {
    display: none;
}

.mode-selector .mode input[type="radio"]:hover + span,
.mode-selector .mode input[type="radio"]:checked + span {
    background: var(--bg-side-selected);
}

.conversation {
    background: var(--bg);
    overflow-y: auto;
}

.conversation .message {
    padding: 24px 16px 12px 16px;
    font-size: 16px;
    line-height: 28px;
}

.conversation .message.gpt {
    color: var(--color-gpt);
}

.conversation .message.user {
    background: var(--bg-user);
    color: var(--color-user);
}

.conversation .message > * {
    max-width: 48rem;
    display: block;
    margin: 0 auto 12px auto;
}

.conversation .message code {
    display: block;
    overflow-x: auto;
    background: #000;
    color: #eaeaea;
    padding: .5em 1em;
    border-radius: 8px;
}
.conversation .message code {
    font-size: 12px;
    color: var(--color-code);
}

.conversation .empty-conversation-filler {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color-empty-chat);
    font-size: 30px;
    overflow: hidden;
}

.conversation #conversation-content:empty + .empty-conversation-filler {
    display: flex;
}

.conversation #conversation-content.loading:after {
    content: 'loading...';
    display: block;
    color: var(--color-fg);
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.input {
    background: var(--bg-input);
    padding-top: 30px;
}

.input .inner-input {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    display: block;
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent);
    border-radius: 12px;
    overflow: hidden;
}

.input #prompt-input {
    overflow-y: auto;  /* Hide vertical scrollbar */
    resize: none;        /* Disable textarea resizing */
    width: 100%;         /* Set width to 100% */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    max-height: 20vh;
    padding: 10px 50px 10px 16px;
    background: var(--bg-input-text);
    color: var(--color-input);
    outline: none;
    border: none;
    font-size: 16px;
}

.input #send-button {
    position: absolute;
    right: 16px;
    bottom: 10px;
    pointer-events: none;
    cursor: default;
}

.input #send-button svg path {
    stroke: var(--color-input);
}

.input #prompt-input:not(:placeholder-shown) ~ #send-button {
    pointer-events: all;
    cursor: pointer;
}

.input .disclaimer {
    font-size: .75rem;
    line-height: 1rem;
    color: var(--color-disclaimer) !important;
    text-align: center;
    display: block;
    padding: .75rem 0 1.5rem 0;
}

.input .disclaimer a {
    color: var(--color-disclaimer) !important;
}

.mode-selector-toggle {
    display: none; /* Initially hide the button */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;
    cursor: pointer;
}


/* Media query for screens smaller than 800px */
@media (max-width: 1000px) {
    main {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        padding-top: 50px;
    }

    .mode-selector {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 100;
    }

    .mode-selector.shown {
        display: block;
    }

    .mode-selector .modes {
        height: inherit;
    }

    .mode-selector-toggle {
        display: block; /* Show the toggle button */
    }
}